* {
  margin: 0;
	padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color:#21395d;
}

@import 'sections/sections';
@import 'sections/first_section';
@import 'sections/second_section';
@import 'sections/third_section';
@import 'sections/forth_section';
@import 'sections/fifth_section';
@import 'sections/sixth_section';
@import 'sections/seventh_section';
@import 'sections/eighth_section';
@import 'footer';

