section.fifth {
  display: flex;
  flex-direction: column;
  text-align: center;
  // justify-content: space-around;
  padding-top: 5vh;
  span {
    font-size: 50px;
    font-weight: 700;
    padding-block: 3vh;
  }
  .cards {
    .card {
      display: flex;
      width: 50%;      
      background: #f3f6ff;
      height: 40vh;
      overflow: hidden;
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 3vw;
        h4 {
          font-size: 25px;
          font-weight: 800;
        }
        p {
          font-size: 20px;
        }
        .icons {
          display: flex;
          flex-direction: row;
          justify-content: center;
          i {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-inline-end: 0.5vw;
            color: #009cff;
            border: 2px solid #009cff;
            width: 35px;
            height: 35px;
            overflow: hidden;
            &:hover {
              background: #009cff;
              color: #ffffff;
            }
          }
        }
      }
    }
    .card.even {
      flex-direction: row;
      margin-inline-start: 50%;
    }
    .card:not(.even) {
      flex-direction: row-reverse;
      margin-inline-end: 50%;
    }
  }
}