section.forth{
  background-image: url('../photos/first_section/slideshow_1.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }
  .arrows{
    margin-bottom: 5vh;
    width: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    i {
      font-size: 25px;
      padding: 10%;
      background: #ffffff;
      opacity: 75%;
      &:hover {
        opacity: 100%;
      }
    }
  }
  img {
    width: 100%;
  }
}
