section {
  overflow: hidden;
  height: 100vh;
  &.double {
    height: 200vh;
  }
  &:not(.full) {
    padding: 0 10vw;
  }
  h2.title {
    font-size: 20px;
    font-weight: 100;
    color: #009cff;
    text-transform: uppercase;
  }
}