section.seventh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }
  .arrows {
    margin-bottom: 5vh;
    width: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    i {
      font-size: 25px;
      padding: 10%;
      background: #009cff;
      opacity: 75%;
      &:hover {
        opacity: 100%;
      }
    }
  }
  img {
    margin-bottom: 2vh;
  }
  p {
    width: 60%;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
  }
  .bold {
    font-size: 25px;
    margin: 2vh;
  }
}
