footer {
  background: #22385d;
  display: flex;
  flex-direction: column;
  padding: 0.5vh 3vw;
  h4 {
    text-transform: uppercase;
    color: #009cff;
    font-weight: 900;
  }
  p,
  span,
  li,
  i {
    color: #ffffff;
  }
  > {
    div {
      margin-block: 3vh;
    }
    .first {
      background: #2c4365;
      margin-top: 10vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 5vh 3vw;
      div {
        height: 7vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }
    .second {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .first {
        width: 28%;
        p {
          font-size: 18px;
        }
        .social-icons {
          display: flex;
          flex-direction: row;
          margin-top: 1.5vh;
          i {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-inline-end: 0.5vw;
            border: 2px solid #ffffff;
            width: 35px;
            height: 35px;
            overflow: hidden;
            &:hover {
              background: #ffffff;
              color: #009cff;
            }
          }
        }
      }
      .second {
        width: 28%;
        ul {
          margin-top: 2vh;
          list-style: none;
        }
      }
      .third {
        width: 38%;
        p {
          margin-top: 2vh;
          margin-bottom: 2vh;
          font-size: 18px;
        }
        input,
        button {
          height: 6vh;
          padding: 1vh 1vw;
          font-size: 16px;
          outline: none;
          border: none;
        }
        input {
          background-color: #f3f6ff;
          &:focus {
            border: 3px solid #b7c9ff;
          }
          width: 80%;
        }
        button {
          width: 20%;
          background-color: #009cff;
          color: #ffffff;
          &:hover {
            opacity: 75%;
          }
        }
      }
    }
    .third {
      text-align: center;
      span {
        color: #009cff;
      }
    }
  }
}
